[Unit]
Description=Multiprocess-safe locks
After=network.target safelog.service

[Service]
Type=simple
# ideally safelock should be installed in sbin, but pypi installs it in bin
# so we don't specify a path to allow it to work in any environment
ExecStart=safelock --start
ExecStop=safelock --stop
RestartSec=5

[Install]
WantedBy=multi-user.target
